body{
	background-color: lightblue;
}

h1{
font-size: 30px;
color: hotpink;

}

h2{
font-size: 25px;
color: maroon;

}
.smallboy{
color: yellow;
font-size: 19px;

}
.largeboy{
color: magenta;
font-size: 35px;
}